TYPE=Ethernet
{% if alias is defined %}
{%   for i in range( aliaslt|int ) %}
IPADDR{{ i }}={{ pri[0].split(',')[i] }} 
PREFIX{{ i }}={{ nmcliprmask }}
{%   endfor %}
GATEWAY0={{ data[0].Gateway }}
{% endif %}
{% if alias is not defined %}
IPADDR={{ erog }}
PREFIX={{ nmcliprmask }}
GATEWAY={{ data[0].Gateway }}
{% endif %}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME={{ pr_interface }}-SERVICE
DEVICE={{ pr_interface }}
ONBOOT=yes
