################################################################
####  working on DC {{ data[0].Farm }} CLUSTER {{ data[0].Cluster }} on {{ data[0].Hostname }}  ####### 
################################################################
